
#home{
    background-size: cover;
    height: 40rem;
    background-repeat: no-repeat;
    background-image: url('https://i.postimg.cc/fL7MRm8q/Stocksy-woman-writing-laptop-476082-57ab432d3df78cf459975331.jpg');
    
}
.lol h2 h1{
    /* display: flex; */
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
button a{
    text-decoration: none;
    color:black;
    
}
button{
    border-radius: 12px;
}


table  {
  width: 100%;
}
td, tr {
  padding: 8px;
    }
th {
  background-color: #8e7a7a;
}
.addform{
    display: flex;
    justify-content: center;
    align-items: center;
}


